<footer id="footer">

    <div class="upper">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third left">
                    <a href="/" class="foot-link">
                        <img class="logo" src="images/wrighttool-logo.png" alt="Wright Tool Inc. logo">
                    </a>
                </div>
                <div class="column is-one-third middle">
                    <div class="address">120 Park View Circle<br>Piney Flats, TN 37686</div>
                    <div class="phone">(423) 538-5133</div>
                    <div class="email">{{ email }}</div>
                    <div class="hours">{{ hours }}</div>
                </div>
                <div class="column is-one-third right">
                    <ul class="foot-links">
                        {{# navLinks }}
                            <li>
                                <a href="{{ link }}" class="foot-link {{#isNavItemActive ../reqPath link}}{{/isNavItemActive}}">
                                    <span class="icon">
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                    {{ title }}
                                </a>
                            </li>
                        {{/ navLinks }}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="lower">
        <div class="container has-text-centered">
            <p class="copy">Wright Tool Inc. Copyright {{ year }}</p>
        </div>
    </div>

</footer>
